body {
    margin: 0;                     /* Remove margens padrão */
    padding: 0;                    /* Remove espaçamento padrão */
    font-family: Arial, sans-serif; /* Define uma fonte padrão */
    background-color: #121212;     /* Tom escuro para o fundo */
    color: #ffffff;                /* Define a cor padrão do texto como branco */
}

.home-header {
    display: flex;              /* Alinha os itens horizontalmente */
    align-items: center;        /* Centraliza os itens verticalmente */
    justify-content: space-between; /* Espaçamento entre os elementos */
    padding: 10px 20px;         /* Espaçamento interno */
    background-color: grey;  /* Cor de fundo neutra */
    border-radius: 8px;         /* Bordas arredondadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin-bottom: 20px;        /* Espaço entre o header e as tarefas */
}

.home-header h1 {
    margin: 0;                  /* Remove margem padrão */
    font-size: 1.8rem;          /* Tamanho maior para o título */
    color: orange;                /* Cor escura para o texto */
    font-weight: bold;
}

.home-header p {
    margin: 0;                  /* Remove margem padrão */
    font-size: 1rem;            /* Tamanho menor para o texto */
    color: orange;                /* Cor cinza para o contador */
    font-weight: bold;          /* Texto em negrito */
}

.add_button {
    background-color: orange; /* Cor verde para o botão */
    border: none;              /* Remove borda padrão */
    border-radius: 50%;        /* Deixa o botão circular */
    width: 40px;               /* Largura fixa */
    height: 40px;              /* Altura fixa */
    cursor: pointer;           /* Mostra que o botão é clicável */
    display: flex;             /* Alinha o ícone centralmente */
    justify-content: center;   /* Centraliza horizontalmente */
    align-items: center;       /* Centraliza verticalmente */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra no botão */
    transition: background-color 0.2s ease-in-out; /* Suaviza a cor ao hover */
}

.add_button:hover {
    background-color: orangered; /* Cor mais escura ao passar o mouse */
}

.add_button img {
    width: 20px; /* Define o tamanho do ícone */
    height: 20px;
}

.home-tarefas {
    display: flex;              /* Habilita o Flexbox */
    flex-direction: column;     /* Organiza as tarefas em uma coluna */
    align-items: center;        /* Centraliza as tarefas horizontalmente */
    justify-content: center;    /* Centraliza as tarefas verticalmente */
    gap: 10px;                  /* Espaçamento entre as tarefas */
    height: 100%;               /* Faz o contêiner ocupar todo o espaço disponível */
    min-height: 60vh;           /* Define uma altura mínima para o contêiner */
    border-radius: 8px;         /* Bordas arredondadas */
    padding: 20px;              /* Espaçamento interno */
}
