.container{
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 300px;
    border-radius: 10%;
    background-color: black;
}

.container h3{
    color: orangered;
    text-align: center;
}

.container p{
    color: white;
    text-align: justify;
}