.container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    width: 750px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: space-between; /* Deixa o texto e os botões nas extremidades */
}

.texto {
    flex: 1; /* Ocupa o espaço disponível para o texto */
}

.texto h3 {
    color: white;
    margin: 0;
    cursor: pointer;
}

.texto input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.botoes {
    display: flex; /* Garante que os botões fiquem lado a lado */
    align-items: center; /* Centraliza os botões verticalmente */
    gap: 10px; /* Espaçamento entre os botões */
}

.botoes button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.botoes button img {
    width: 20px;
    height: 20px;
}

.texto .riscado {
    text-decoration: line-through;
    color: grey;
}