.container{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
    width: 750px;
    height: 25px;
    border-radius: 10px;
    background-color: black;
}

.container h3{
    color: white;
    text-align: center;
}

.container input{
    background-color: darkgrey;
    color: white;
    text-align: center;
}