/* Estilização geral do corpo para centralizar a página */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fundo escuro para contraste */
    color: #fff; /* Cor branca padrão */
}

/* Contêiner principal do login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Centraliza verticalmente */
    row-gap: 5px; /* Espaçamento entre o título e o formulário */
}

/* Título principal do login */
.login-container h1 {
    font-size: 2rem; /* Tamanho do título */
    color: #ff6600; /* Laranja para destaque */
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase; /* Texto em caixa alta */
    letter-spacing: 1.5px; /* Espaçamento entre letras */
    font-weight: bold;
}

/* Estilo da mensagem de erro */
.error-message {
    color: #ff0000; /* Cor vermelha para mensagens de erro */
    background-color: #ffecec; /* Fundo sutilmente avermelhado */
    border: 1px solid #ffb3b3; /* Borda mais escura para contraste */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px; /* Espaço entre a mensagem e o formulário */
    text-align: center;
    font-size: 0.9rem;
    max-width: 400px; /* Largura limitada */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.cadastrar  {
    margin-top: 10px;
    padding: 10px;
    background-color: #ff6600; 
    color: #fff; 
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cadastrar :hover {
    background-color: #e55d00; 
}